<div class="columns">

    <div class="column">
        <a target="_blank" id="insert_goals_button"
           class="button cta rounded primary-btn raised">
            Insert Goals
        </a>
    </div>
    <div class="column">
        <a target="_blank"
           class="button cta rounded primary-btn raised">
            Link Goals
        </a>
    </div>

</div>
<div class="columns">
    <div class="column is-full is-center" id="insert_goals_div">
        <form id="broadcast" method="POST" action='#'>
                <textarea class="textarea" placeholder="Structured Text File" rows="10">

                </textarea>
            <input type="submit" value="Insert">
        </form>
    </div>
</div>
