#insert_goals_div{
  display:none;
}

#link_goals_div{
  display:none;
}

#console_div{
  display:none;
}

.comp_conj_element{
  display: none;
}

.mapping_element{
  display: none;
}

.refinement_element{
  display: none;
}