<section class="hero is-info is-medium is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" style="height: 90px">
                        <img src="/static/assets/images/cogomo-logo-white.png" alt="CoGoMo" style="max-height: 4.5rem;">
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined"
                                   href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/hero.html">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span title="Hello from the other side">View Source</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body" style="padding-bottom: 3rem; padding-top: 3rem">
        <div class="container has-text-centered">
            <h1 class="title">
                Incremental Refinement of Goal Models with Contracts
            </h1>
            <h2 class="subtitle">
                A requirement engineering framework combining the goal-oriented and contract-based approaches to
                requirement engineering.
                This tool is a support to the designer to build a <i> contract-based goal tree</i>, to represent goal
                models in terms of hierarchies of contracts.
            </h2>
        </div>
    </div>
</section>
<section class="container" id="menu_bar">
    <div class="box cta">
        <div class="columns is-mobile is-centered">
            <div class="buttons is-grouped is-grouped-multiline">
                <div class="button is-primary" id="insert_goals_button">Insert Goals</div>
                <div class="button is-primary" id="link_goals_button">Link Goals</div>
{#                <div class="tabs is-right">#}
{#                    <div class="button is-primary is-outlined is-right" id="console_button">Toggle Console</div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <div class="card article" id="insert_goals_div">
                <div class="card-content">
                    <nav class="navbar" role="navigation" aria-label="main navigation">
                        <div id="navbarBasicExample" class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item">
                                    Documentation
                                </a>
                                <a class="navbar-item">

                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="resume">
                                            <span class="file-cta">
                                              <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                              </span>
                                              <span class="file-label">
                                                Choose a file…
                                              </span>
                                            </span>
                                        </label>
                                    </div>
                                </a>


                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                        Load Examples
                                    </a>

                                    <div class="navbar-dropdown">
                                        <a class="navbar-item" id="load_platooning_txt">
                                            Platooning
                                        </a>
                                        <a class="navbar-item">
                                            Following Mode
                                        </a>
                                        <a class="navbar-item">
                                            Following Corrected
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>


                    <div class="field">
                        <label class="label">Structured Text</label>
                        <div class="control">
                            <textarea class="textarea is-small is-family-monospace" rows="20"
                                      id="textarea_insert_goals"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit"
                                class="button is-link is-fullwidth has-text-weight-medium is-medium"
                                id="insert_goals_text_button">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="card article" id="link_goals_div">
                <div class="card-content">
                    <nav class="panel is-shadowless">
                        <div class="panel-tabs">
                            <div class="field" id="radio_operations">
                                <input class="is-checkradio require_new_goal" id="composition_input" type="radio"
                                       name="cgt_operation_radio" value="composition">
                                <label for="composition_input">Composition</label>

                                <input class="is-checkradio require_new_goal" id="conjunction_input" type="radio"
                                       name="cgt_operation_radio" value="conjunction">
                                <label for="conjunction_input">Conjunction</label>

                                <input class="is-checkradio no_require_new_goal" id="mapping_input" type="radio"
                                       name="cgt_operation_radio" value="mapping">
                                <label for="mapping_input">Mapping</label>

                                <input class="is-checkradio no_require_new_goal " id="refinement_input" type="radio"
                                       name="cgt_operation_radio" value="refinement">
                                <label for="refinement_input">Refinement</label>

                            </div>
                        </div>
                    </nav>

                    <div id="goal_list_linking_checkbox" class="comp_conj_element" type="template">
                    </div>
                    <script id="goal_checkbox" type="template">
                        <label class="panel-block">
                            <input type="checkbox" value="__GOAL_ID__">
                            __NAME__
                        </label>
                    </script>

                    <div class="field is-horizontal mapping_element">
                        <div class="field-label is-normal">
                            <label class="label">Goal to Map</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-fullwidth">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="options_of_goals">
                                        </select>
                                        <script id="options_of_goals_template" type="template">
                                            <option>__NAME__</option>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal mapping_element">
                        <div class="field-label is-normal">
                            <label class="label">Library of Components</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-fullwidth">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="library_select">
                                            <option value="car_hardware">Car hardware</option>
                                            <option value="libars">Lidars</option>
                                            <option value="sensors">Sensors</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field is-horizontal refinement_element">
                        <div class="field-label is-normal">
                            <label class="label">Abstract Goal</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-fullwidth">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="options_of_goals_1">
                                        </select>
                                        <script id="options_of_goals_1_template" type="template">
                                            <option value="__GOAL_ID__">__NAME__</option>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal refinement_element">
                        <div class="field-label is-normal">
                            <label class="label">Refined Goal</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-fullwidth">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="options_of_goals_2">
                                        </select>
                                        <script id="options_of_goals_2_template" type="template">
                                            <option value="__GOAL_ID__">__NAME__</option>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field is-horizontal comp_conj_element">
                        <div class="field-label is-normal">
                            <label class="label">New goal name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="new_goal_name" class="input is-danger" type="text"
                                           placeholder="Name identifies the goal">
                                </div>
                                <p class="help is-danger">
                                    This field is required
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal comp_conj_element">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                        <textarea id="new_goal_description" class="textarea" rows="2"
                                                  placeholder="Describe what the goal is supposed to do"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control">
                        <button type="submit"
                                class="button is-link is-fullwidth has-text-weight-medium is-medium"
                                id="submit_links_goals_button">
                            Submit
                        </button>
                    </div>
                </div>

            </div>
        </div>
</div>
</section>

<div class="columns is-multiline" id="goal_list">
</div>
<script id="goal" type="template">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    __NAME__
                </p>
                <a class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    __DESCRIPTION__
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" id="__A_ID_BTN__">
                    ASSUMPTIONS
                </a>
                <div class="modal" id="__A_ID_CTN__">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Assumptions</p>
                            <button class="delete modal-custom-close" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            __ASSUMPTIONS__
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success">Save changes</button>
                            <button class="button modal-custom-close">Cancel</button>
                        </footer>
                    </div>
                </div>
                <a class="card-footer-item" id="__G_ID_BTN__">
                    GUARANTEES
                </a>
                <div class="modal" id="__G_ID_CTN__">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Guarantees</p>
                            <button class="delete modal-custom-close" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            __GUARANTEES__
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success">Save changes</button>
                            <button class="button modal-custom-close">Cancel</button>
                        </footer>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</script>

<div class="columns is-mobile">
    <div class="column is-12">
        <div class="card article" id="console_div">
            <div class="card-content has-background-dark has-text-success is-family-monospace"
                 style="height: 500px; overflow:auto;">
                <p id="console_content"></p>
            </div>
        </div>
    </div>
</div>
</div>

